body{
 background-color:#949494;
}
#ball{
 position:absolute;
 top:200px;
 background-color:#FF3300;
 border-radius:20px;
}
#ball2{
 position:absolute;
 top:200px;
 background-color:#000000;
 border-radius:20px;
}
.balls{
 position:absolute;
 top:200px;
 background-color:#003300;
 border-radius:20px;
}
#p1{
 position:absolute;
 top:200px;
 background-color:#0000FF;
 border-radius:10px;
}
#a1{
margin-left:8px;
float:left;
}
#a2{
float:right;
margin-right:8px;
}
#p2{
 position:absolute;
 top:200px;
 background-color:#003300;
 border-radius:10px;
}
#scoreboard{
 background-color:#5E5E5E;
 width:300px;
 height:110px;
 margin:0 auto;
 position:relative;
}
#layer1{
border:#000000;
padding:3px;
text-align:center;
color:#FFFFFF;
position:relative;
width:295px;
height:80px;
}

#img1{
width:60px;
height:60px;
float:left;
position:relative;

}
#vs {
margin-left: 72px;
position: relative;
text-align: center;
}

#img2{
width:60px;
height:60px;
float:right;
position:relative;

}
.scores{
background-color:#000000;
color:#FFFFFF;
}
#score1{
clear:both;
width:60px;
height:20px;
float:left;
position:relative;
}

#score2{
width:60px;
height:20px;
float:right;
position:relative;
}
#gameState{
  width: 75px;
  height: 50px;
  margin: auto;
  position: absolute;
  top: 0; left: -4px; bottom: 0; right: 0;
  background-color:red;
}
#addButton{
  width: 75px;
  height: 50px;
  margin: auto;
  position: relative;
  top: 56px; left: -50px; bottom: 0; right: 0;
  background-color:red;
}
#win{
 padding-top: 5px;
 background-color:#5E5E5E;
 width:300px;
 height:20px;
 margin:0 auto;
 position:relative;
 color:#B2B2B2;
 text-align:center;
 font-size:18px;
 line-height:12px;
 font-weight:bold;
 font-style:italic;
  }
  